body {
  background-color: ivory;
}

canvas {
  border: 1px solid red;
}
#main {
  position: fixed;
}
#canvasAndButtons {
  position: relative;
  display: inline-block;
  float: left;

}
#formdiv {
  margin: 0px 50px;
  display: inline-block;
  position: top;
  float: left;
}
#bboxCoords {
 display: table; 
}

#X1p, #X2p, #Y1p, #Y2p {
  background-color: gray;
  width: 50px;
}

#canvasWrapper {
  position: relative;
}
